@import url('./tailwind.scss');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--color-1);
  margin: 0;
}

:root {
  --color-1: #22223b;
  --color-2: #4a4e69;
  --color-3: #9a8c98;
  --color-4: #c9ada7;
  --color-5: #f2e9e4;
}

.button {
  display: block;
  border: none;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  background-color: var(--color-2);
  text-align: center;
  color: var(--color-5);
  cursor: pointer;
}
